@page
@model CodeFirstSample_With_RazorPages.Pages.Club.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>FootballClub</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FootballClub.Id" />
            <div class="form-group">
                <label asp-for="FootballClub.Clubname" class="control-label"></label>
                <input asp-for="FootballClub.Clubname" class="form-control" />
                <span asp-validation-for="FootballClub.Clubname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FootballClub.Budget" class="control-label"></label>
                <input asp-for="FootballClub.Budget" class="form-control" />
                <span asp-validation-for="FootballClub.Budget" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FootballClub.StadiumSize" class="control-label"></label>
                <input asp-for="FootballClub.StadiumSize" class="form-control" />
                <span asp-validation-for="FootballClub.StadiumSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
